@import "../styles/globalstyle.module.scss";
.homepageCover {
  background-image: linear-gradient(to bottom right, #21c57b, #026b56);
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
}
.coverTitle {
  width: 500px;
  color: white;
  font-size: 30px;
  text-align: left;
}
.shopNowBtn {
  border-radius: 999px;
  margin-top: 50px;
  background-color: $primary-color;
  color: white;
  padding: 13px 15px;
  width: fit-content;
  font-size: 20px;
  font-weight: 550;
  text-transform: capitalize;
  // margin-left: 30%;
  &:hover {
    cursor: pointer;
  }
}
.homeProducts {
  padding: 50px 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.shopAllRuler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rulerLeft,
  .rulerRight {
    display: block;
    width: 40%;
    height: 5px;
    background-color: #dce7ed;
  }
  .shopAllBtn {
    margin: 0 20px;
    padding: 12px 15px;
    background-color: $primary-color;
    border: 3px solid $primary-color;
    color: white;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}
